.results {
  display: flex;
  row-gap: 3rem;
  margin-block-start: 4rem;
  flex-direction: column;
  align-items: center;
  max-inline-size: var(--max-page-size);
  & img {
    inline-size: 100%;
    block-size: 100%;
    max-inline-size: 435px;
    max-block-size: 411px;
  }
}

.resultscontent {
  padding-inline: var(--page-m-m-t);
  max-inline-size: 465px;
  min-inline-size: 331px;
  & p {
    margin-block-start: 2rem;
  }
}

@media (min-width: 768px) {
  .results {
    position: relative;
    left: clamp(-7.25rem, -55.25rem + 100vw, 0rem);
    column-gap: 4.5rem;
    margin-inline-end: var(--page-m-t-d);
    margin-block-start: 5.5rem;
    flex-direction: row;
    & img {
      object-fit: cover;
      min-inline-size: 435px;
      min-block-size: 411px;
      max-inline-size: 564px;
      max-block-size: 533px;
    }
  }
  .resultscontent {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .results {
    justify-content: space-between;
    align-items: end;
    position: static;
    margin-block-start: 3.25rem;
    margin-inline: var(--page-m-t-d);
  }
  .resultscontent {
    margin-block-end: 2.6875rem;
  }
}

@media (min-width: 1440px) {
  .results {
    margin-inline: auto;
    position: relative;
    margin-block-start: 0;
    padding-block-start: 3.25rem;
    &::before {
      content: url("/images/pattern-curved-line-left.svg");
      position: absolute;
      right: 1.6875rem;
      top: 0;
    }
  }
}
