.limitationswrapper {
  padding-inline: var(--page-m-m-t);
  margin-block-start: 5.125rem;
  margin-block-end: 6.5rem;
}
.limitations {
  max-inline-size: var(--max-page-size);
  margin-inline: auto;
}

.description {
  text-align: center;
  & > p {
    margin-block-start: 2rem;
  }
}

.limitationslist {
  margin-block-start: 3.5rem;
  display: grid;
  row-gap: 1rem;
  justify-items: center;
  & li {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    padding: 1.5rem;
    max-width: 365px;
    & h3 * {
      vertical-align: middle;
    }
    & img {
      margin-inline-end: 1rem;
    }
    & p {
      margin-block-start: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .limitationswrapper {
    padding-inline: var(--page-m-t-d);
  }

  .limitationslist {
    grid-template-columns: repeat(2, minmax(0, auto));
    column-gap: 1rem;
    row-gap: 1.5rem;
    place-content: center;
    & li {
      padding: 2rem;
    }
    & li:last-child {
      grid-column: 1/-1;
    }
  }
}
@media (min-width: 1440px) {
  .limitations {
    position: relative;
    &::before {
      content: url("/images/pattern-curved-line-right.svg");
      position: absolute;
      top: 222px;
      left: 161px;
    }
  }
  .description {
    position: absolute;
    text-align: start;
    max-inline-size: 564px;
  }

  .limitationslist {
    justify-content: end;
    grid-template-columns: repeat(10, 67.33px);
    gap: 2rem;
    & li:nth-child(1) {
      grid-column: 6 / 10;
    }
    & li:nth-child(2) {
      grid-column: 3 / 7;
    }
    & li:nth-child(3) {
      grid-column: 7 / 11;
    }
    & li:nth-child(4) {
      grid-column: 1 / 5;
    }
    & li:nth-child(5) {
      grid-column: 5 / 9;
    }
  }
}
