input[type="radio"].selectionbutton {
  appearance: none;
  margin-inline-end: var(--space-16);
  block-size: 1.9375rem;
  inline-size: 1.9375rem;
  border-radius: 50%;
  border: 0.0625rem solid var(--grey-500);
  outline: none;
  &:is(:hover, :focus, :focus-visible) {
    border: 0.0625rem solid var(--blue-500);
  }
  &:checked {
    border: 0.5rem solid var(--blue-100);
    background-color: var(--blue-500);
    &:is(:hover, :focus, :focus-visible) {
      outline: 0.0625rem solid var(--blue-500);
      /* outline-offset: -0.0625rem; */
    }
  }
}
