.hero {
  display: grid;
  position: relative;
  margin: 0 auto;
  row-gap: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
  /* @link https://utopia.fyi/clamp/calculator?a=375,768,24—40 */
  padding-inline: var(--page-m-m-t);
  padding-block-start: 2rem;
  max-inline-size: var(--max-page-size);
  /* @link https://utopia.fyi/clamp/calculator?a=375,768,32—40 */
  & > svg {
    block-size: clamp(2.5rem, 0.7857rem + 3.5714vw, 4rem);
    inline-size: clamp(2.5rem, 0.7857rem + 3.5714vw, 4rem);
    margin-inline: auto;
  }
}
.herocontent {
  text-align: center;
  & > p {
    /* @link https://utopia.fyi/clamp/calculator?a=768,1440,24—32 */
    margin-block-start: clamp(1.5rem, 0.9286rem + 1.1905vw, 2rem);
  }
}

.heromain {
  display: contents;
}

@media (min-width: 768px) {
  .hero {
    padding-inline: var(--page-m-t-d);
  }
}

@media (min-width: 1440px) {
  .hero {
    padding-inline: 0;
    padding-block-start: 5.5rem;

    row-gap: 1.5rem;
    & > svg {
      margin-inline: 0;
    }
  }
  .heromain {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 2rem;
    align-items: center;
    justify-items: start;
  }
  .herocontent {
    text-align: start;
    & > * {
      max-inline-size: 29.0625rem;
    }
  }
  .wrapper {
    min-block-size: 737px;
  }
}

.wrapper::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  block-size: clamp(40rem, 41.1249rem + -2.3435vw, 40.5756rem);
  inline-size: 100%;
  border-radius: 0 0 2.1875rem 2.1875rem;
  background: var(--gradient-bg);
  @media (min-width: 1440px) {
    max-inline-size: max(62.625rem, 69.58%);
    block-size: 46.0625rem;
  }
}
