.hero {
  display: grid;
  max-inline-size: 72.5rem;
  /* @link https://utopia.fyi/clamp/calculator?a=375,768,32—40 */
  row-gap: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
  & > svg {
    block-size: clamp(2.5rem, 0.7857rem + 3.5714vw, 4rem);
    inline-size: clamp(2.5rem, 0.7857rem + 3.5714vw, 4rem);
    margin-inline: auto;
  }
}
.herocontent {
  text-align: center;
  & > p {
    /* @link https://utopia.fyi/clamp/calculator?a=768,1440,24—32 */
    margin-block-start: clamp(1.5rem, 0.9286rem + 1.1905vw, 2rem);
  }
}

.heromain {
  display: contents;
}

@media (min-width: 1280px) {
  .hero {
    row-gap: 1.5rem;
    & > svg {
      margin-inline: 0;
    }
  }
  .heromain {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 2rem;
    place-items: center;
  }
  .herocontent {
    text-align: start;
    & > * {
      max-inline-size: 29.0625rem;
    }
  }
}
