.container {
  position: relative;
  & > input {
    inline-size: 100%;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    cursor: pointer;
    border: 1px solid var(--border-color, var(--grey-500));
    border-radius: var(--space-12);
    padding: var(--space-24);
    color: var(--blue-900);
    outline: none;
    &:is(:hover, :focus, :focus-visible) {
      --border-color: var(--blue-500);
    }
  }
}

.unit {
  position: absolute;
  pointer-events: none;
  display: inline-block;
  top: 50%;
  margin-inline-start: -25px;
  transform: translate(-100%, -50%);
  color: var(--blue-500);
}
