*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  max-inline-size: 100%;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  src: local("Inter"),
    url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

:root {
  --grey-500: #5e6e85;
  --blue-100: #e1e7fe;
  --blue-500: #345ff6;
  --blue-900: #253347;
  --blue-500: #345ff6;
  --white: #ffffff;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --font-base: "Inter", sans-serif;
  --gradient-bg: linear-gradient(to right, hsla(183, 95%, 92%, 0), #d6e6fe);
  --shadow: 1rem 2rem 3.5rem 0 hsla(211, 40%, 69%, 25%);
  --page-m-m-t: clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);
  --page-m-t-d: clamp(2.5rem, -4.9286rem + 15.4762vw, 9rem);
  --max-page-size: 72.5rem;
}

body {
  line-height: 1.5;
  font-family: var(--font-base);
  font-size: 1rem;
  color: var(--grey-500);
  min-block-size: 100dvh;
  background-color: var(--white);
}

h1,
h2,
h3 {
  color: var(--blue-900);
}

.text-s {
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: inherit;
}
.text-s-sb {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 600;
  font-family: inherit;
}
.text-s-b {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
  font-family: inherit;
}

.text-sm {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
}
.text-sm-sb {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
}

.text-m-sb {
  font-size: 1.25rem;
  letter-spacing: -5%;
  line-height: 1.2;
  font-family: inherit;
  font-weight: 600;
}

.text-ml-sb {
  font-size: 1.5rem;
  letter-spacing: -5%;
  line-height: 1.2;
  font-family: inherit;
  font-weight: 600;
}
.text-l-sb {
  font-size: clamp(2rem, 0.8571rem + 2.381vw, 3rem);
  letter-spacing: -5%;
  line-height: 1.1;
  font-family: inherit;
  font-weight: 600;
}

.text-xl-sb {
  /* @link https://utopia.fyi/clamp/calculator?a=768,1240,48—64 */
  font-size: clamp(3rem, 1.3729rem + 3.3898vw, 4rem);
  line-height: 1.1;
  letter-spacing: -5%;
  font-family: inherit;
  font-weight: 600;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
